[run]
source = app
omit =
    app/workers/*
    app/main.py
    app/db/database.py
    app/core/config.py

[report]
fail_under = 60
show_missing = true
skip_empty = true
exclude_lines =
    pragma: no cover
    if __name__ == .__main__
    pass

[html]
directory = htmlcov
